{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run_tests.cljk" ".clj"
  "src/uzu/cells/social_post/state_machine.cljk" ".cljc"
  "src/uzu/methods/autorun.cljk" ".cljc"
  "src/uzu/methods/digest.cljk" ".cljc"
  "src/uzu/methods/kotoba.cljk" ".cljc"
  "src/uzu/methods/landscape.cljk" ".cljc"
  "src/uzu/methods/ledger.cljk" ".cljc"
  "src/uzu/methods/measure.cljk" ".cljc"
  "src/uzu/methods/metabolism.cljk" ".cljc"
  "src/uzu/methods/model.cljk" ".cljc"
  "src/uzu/methods/query.cljk" ".cljc"
  "src/uzu/methods/scorecard.cljk" ".cljc"
  "src/uzu/methods/social.cljk" ".cljc"
  "src/uzu/methods/uzu_edn.cljk" ".cljc"
  "src/uzu/methods/validate.cljk" ".cljc"
  "src/uzu/methods/viz.cljk" ".cljc"
  "src/uzu/methods/world.cljk" ".cljc"
  "test/uzu/methods/test_autorun.cljk" ".cljc"
  "test/uzu/methods/test_digest.cljk" ".cljc"
  "test/uzu/methods/test_epochs.cljk" ".cljc"
  "test/uzu/methods/test_kotoba.cljk" ".cljc"
  "test/uzu/methods/test_landscape.cljk" ".cljc"
  "test/uzu/methods/test_ledger.cljk" ".cljc"
  "test/uzu/methods/test_lexicons.cljk" ".cljc"
  "test/uzu/methods/test_measure.cljk" ".cljc"
  "test/uzu/methods/test_metabolism.cljk" ".cljc"
  "test/uzu/methods/test_model.cljk" ".cljc"
  "test/uzu/methods/test_properties.cljk" ".cljc"
  "test/uzu/methods/test_query.cljk" ".cljc"
  "test/uzu/methods/test_robustness.cljk" ".cljc"
  "test/uzu/methods/test_scorecard.cljk" ".cljc"
  "test/uzu/methods/test_validate.cljk" ".cljc"
  "test/uzu/methods/test_viz.cljk" ".cljc"
  "test/uzu/methods/test_world.cljk" ".cljc"
  "test/uzu/repository_contract_test.cljk" ".clj"}}
